<!doctype html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>EmpleosApp | Detalles de la Oferta de Trabajo</title>
    <!-- Bootstrap core CSS -->
   <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  </head>

  <body>

         <header th:insert="fragmentos/menu.html::menu-princial">
     
    </header>
    

    <main role="main">
      <hr>
      <div class="container"> 

        <div class="row">
         
          <div class="col-md-9">
            <div class="card">
              <h4 class="card-header"> <strong th:text="'ID '+${factura.id} "></strong></h4>              
              <div class="card-body">
                <h5 class="card-title"><strong>Titular: </strong> <span th:text="${factura.titular}"></span></h5>
                <h6 class="card-title"><strong>Cantidad: </strong> <span th:text="${'$' + factura.cantidad}"> </span></h6>                
                <h6 class="card-title"><strong>Fecha: </strong><span th:text="${factura.fecha}"></span></h6>
                   <h6 class="card-title"><strong>ID Reloj </strong><span th:text="${factura.reloj.id}"></span></h6>
                      
          
                
                <div class="card bg-light mb-3" >
                  <!--<div class="card-body">
                    <h5 class="card-title">Descripcion Categoria</h5>
                    <p class="card-text" th:utext="${categoria.descripcion}" ></p>
                  </div>
                  
                  -->
                
            </div>  
          </div>
        </div>

      </div>
    </main>

    <footer th:insert="fragmentos/pie.html::pie-pagina"class="footer">
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
