<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>Proyecto</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" rel="stylesheet">

  <body>

<header th:insert="fragmentos/menu.html::menu-princial">
     
    </header>
    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      

      <hr>

      <div class="container"> 
        <h2 class="font-weight-bold text-center text-capitalize">PRODUCTOS DESTACADOS</h2>
        <hr>
        <div class="row" th:each="reloj:${relojes}" >
          <div class="col-md-3">            
            <img class="rounded mx-auto d-block" th:src="@{/imagenes/{img}(img=${reloj.imagen})}" alt="Generic placeholder image" width="200" height="200">            
          </div>
          <div class="col-md-9">
            <h2 th:text="${reloj.nombre}"></h2>
            <h6 class="card-title " th:text="${reloj.descripcion}"><strong> </strong> <span></span></h6>
            <h6 class="card-title " th:text="'$ '+${reloj.precio}"><strong> </strong> <span></span></h6>
                       
                       
            <p> </p>
            <p><a class="btn btn-secondary" th:href="@{/reloj/detalle(id=${reloj.id})}" role="button">View details &raquo;</a></p>       
                
          </div>
        </div>  
            
            
                
		  <hr>	
		  
      </div> <!-- /container -->

    </main>

    <footer th:insert="fragmentos/pie.html::pie-pagina"class="footer">
      
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>   
  </body>
</html>
